@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --bg-green-high: #222;
  --bg-green-max: #053697;
  --bg-green-light: #fff;
  --bg-black: #252525;
  --text-gray: #f9f9f9;
  --bg-primary: #f9f9f9;
  --text: #363636;
  --color-green: #3872f0;
  --color-white: #ffffff;
  --color-gray: #6d6d6d;
  --primary-bg: #242424;
  --bg-gray-20: #e6e6e6;
  --bg-white-20: #f2f2f2;
  --bg-black: #050505;
  --bg-white: #fefefe;
}

.text-primary {
  color: #f9f9f9;
}
.text-gray {
  color: #f9f9f9;
}

/* .button-white {
  @apply px-8 py-3 rounded-md flex justify-center items-center w-fit gap-2 bg-[var(--bg-green-high)] text-[var(--text-gray)]  hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
} */
* {
  font-family: "Poppins";
}

.scroll-bar-hide::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

#doctor_table::-webkit-scrollbar {
  display: block;
  background: var(--text);
  height: 4px;
  border-radius: 3px;
}

body {
  background: var(--color-white);
  font-family: "Poppins", serif;
}

@layer utilities {
  .start-start {
    @apply flex justify-start items-start;
  }

  .start-center {
    @apply flex justify-start items-center;
  }

  .center-center {
    @apply flex justify-center items-center;
  }

  .between-center {
    @apply flex justify-between items-center;
  }

  .end-center {
    @apply flex justify-end items-center;
  }

  .grid-5 {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start md:items-center lg:grid-cols-3 xl:grid-cols-5 gap-4;
  }
  .grid-4 {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start md:items-center lg:grid-cols-3 xl:grid-cols-4 gap-4;
  }

  .grid-3 {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start md:items-center lg:grid-cols-3 gap-4;
  }

  .grid-2 {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start md:items-center gap-4;
  }

  .grid-3 {
    @apply md:grid md:grid-cols-2 xl:grid-cols-3 flex flex-col justify-start items-start md:items-center gap-4;
  }

  .grid-2-start {
    @apply md:grid md:grid-cols-2 flex flex-col justify-start items-start gap-4;
  }

  /* .button-black {
    @apply px-8 py-3 rounded-md flex justify-center items-center w-fit gap-2 bg-[var(--color-blue)] text-[var(--color-white)] border border-[var(--bg-black)] hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  } */

  .button-white {
    @apply px-8 py-3 rounded-md flex justify-center items-center w-fit gap-2 bg-[var(--color-white)] text-[var(--bg-black)]  hover:scale-102 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  }

  .button-red {
    @apply px-8 py-3 rounded-md flex justify-center items-center w-fit gap-2 text-[var(--color-white)]  hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  }

  .button-green {
    @apply px-4 py-1 rounded-3xl flex justify-center items-center w-fit gap-2 bg-[var(--color-white)] text-[var(--color-green)]  hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  }

  .button-blue {
    @apply px-4 py-1 rounded-3xl flex justify-center items-center w-fit gap-2 bg-[var(--color-white)] text-[var(--color-blue)]  hover:scale-105 transition-all active:scale-95 disabled:bg-gray-400 disabled:cursor-not-allowed disabled:hover:scale-100 disabled:active:scale-100;
  }

  .links.active {
    @apply relative;
  }

  .links:hover {
    @apply relative;
  }

  .links.active::after {
    @apply h-full w-2 bg-[var(--bg-white)] rounded-br-full rounded-tr-full absolute -left-4;
  }
}

.links::after {
  content: "";
}

.jodit-status-bar {
  display: none;
}

.jodit-ui-spacer {
  background-color: #323232 !important;
}
.jodit-workplace + .jodit-status-bar:not(:empty) {
  display: none;
}

.jodit-toolbar-button.jodit-toolbar-button_size_middle.jodit-toolbar-button_variant_initial.jodit-toolbar-button_font.jodit-toolbar-button_with-trigger_true.jodit-ui-group__font {
  display: none;
}

/* .jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_list.jodit-ui-group_size_middle {
  display: none;
} */

.jodit-ui-spacer {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_media.jodit-ui-group_size_middle {
  display: none;
}

/* .jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_state.jodit-ui-group_size_middle {
  display: none;
} */

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_insert.jodit-ui-group_size_middle {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_indent.jodit-ui-group_size_middle {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_color.jodit-ui-group_before-spacer_true.jodit-ui-group_size_middle {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_history.jodit-ui-group_size_middle {
  display: none;
}

.jodit-ui-group.jodit-ui-group_separated_true.jodit-ui-group_group_other.jodit-ui-group_size_middle {
  display: none;
}

.jodit-wysiwyg {
  background-color: #fff;
}
/* .ant-table-cell {
  color: #f9f9f9 !important;
  background-color: #323232 !important;
  border: none !important;
} */
/* .ant-table-row {
  background-color: #323232 !important;
  border: none !important;
} */
/* .table-row {
  background-color: #323232 !important;
  border: none !important;
} */
/* .ant-table-cell-row-hover {
  background-color: #323232 !important;
  border: none !important;
}
.ant-table-thead tr {
  border: none !important;
}
.ant-pagination-item {
  border-radius: 100% !important;
  background-color: #323232 !important;
} */
.ant-upload {
  width: 100%  !important;
}
.ant-pagination-item-active {
  border-radius: 100% !important;
  background-color: white !important;
}
.ant-pagination-item-link {
  color: white !important;
}
.ant-pagination-item a {
  color: white !important;
}
.ant-pagination-item-active a {
  color: #242424 !important;
}
